.header {
    // outline: 1px solid red;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    height: 115px;
    gap: 50px;
    // for sticky
    // position: sticky;
    // top: 0;
    // background-color: #fff;
    // z-index: 20;

    img {
        width: 150px;
    }

    .nav-items {
        display: flex;
        gap: 50px;

        a {
            font-size: 1.3rem;
            font-weight: 600;
        }

        .cart-icon-head {

            position: relative;

            .cart-items {
                background-color: #fff;
                border-radius: 100%;
                // outline: 1px solid black;
                justify-content: center;
                align-items: center;
                width: 18px;
                height: 18px;
                font-size: 15px;
                display: flex;
                position: absolute;
                top: -9px;
                left: 13px;

            }
        }
    }

}