.search-con {
    width: 100%;
    height: 500px;
    // outline: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../../public/img/search.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 1.5rem;
    // overflow: hidden;
    // box-shadow: 0px 14px 20px 1px rgba(58, 57, 57, 0.5);
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}

.search-con .search {
    max-width: 500px;
    width: 80%;
    height: 60px;
    // outline: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 10px;
    padding-left: 30px;
    padding-right: 7px;
    border-radius: 50px;
    background-color: white;

    input {
        outline: none;
        width: calc(100% - 55px);
        border: none;
        font-size: 1.3rem;
    }

    .search-btn {
        border-radius: 50px;
        width: 50px;
        height: 50px;
        font-size: 1.4rem;
        outline: none;
        border: none;
        background-color: hsl(0, 5%, 83%);
        color: black;
        transition: all ease-in-out 0.2s;
        cursor: pointer;
    }

    .search-btn:hover {
        background-color: hsl(0, 98%, 47%);
        color: white;
    }
}