# Node.js modules
node_modules/

# Build output directories
dist/
.parcel-cache/
coverage/

# WebStorm IDE files
.idea/
*.iml
*.ipr
*.iws
*.user
*.userprefs

# Log files
*.log

# Temporary files
.DS_Store
Thumbs.db

