.header{
    outline: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    img{
        width: 150px;
    }

    .nav-items{
        display: flex;
        gap: 50px;

        a{
            font-size: 1.3rem;
            font-weight: 600;
        }
    }
}